[submodule "registry/lib/forge-std"]
	path = registry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "registry/lib/openzeppelin-contracts"]
	path = registry/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
