use dep::std;

global SIZE = <%= content_size %>;

fn main(sound: [Field; SIZE]) -> pub Field {
    let com = std::hash::pedersen_hash(sound);
    com
}

#[test]
fn test_main() {

    // Uncomment to make test fail
    // main(1, 1);
}
